webapp/wsdl/BMIService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soap.bmi.soa.inatel.edu.br" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soap.bmi.soa.inatel.edu.br" xmlns:intf="http://soap.bmi.soa.inatel.edu.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://soap.bmi.soa.inatel.edu.br" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getBMI">
    <complexType>
     <sequence>
      <element name="weight" type="xsd:float"/>
      <element name="height" type="xsd:float"/>
      <element name="lang" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getBMIResponse">
    <complexType>
     <sequence>
      <element name="getBMIReturn" type="impl:BMIResult"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="BMIResult">
    <sequence>
     <element name="bmi" nillable="true" type="xsd:float"/>
     <element name="description" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getBMIResponse">

      <wsdl:part element="impl:getBMIResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getBMIRequest">

      <wsdl:part element="impl:getBMI" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="BMIService">

      <wsdl:operation name="getBMI">

         <wsdl:input message="impl:getBMIRequest" name="getBMIRequest">

       </wsdl:input>

         <wsdl:output message="impl:getBMIResponse" name="getBMIResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BMIServiceSoapBinding" type="impl:BMIService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getBMI">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getBMIRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getBMIResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BMIServiceService">

      <wsdl:port binding="impl:BMIServiceSoapBinding" name="BMIService">

         <wsdlsoap:address location="http://localhost:8080/BMI/services/BMIService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
